{% load staticfiles %}

<html>
<head>
	<title>Vestivise – Simple Investment Reporting</title>
    <link rel="shortcut icon" type="image/jpg" href="{% static 'media/favicon.jpg' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,300" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{% static 'build/css/dashboard.css' %}">

	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{% static 'bower_components/mdi/css/materialdesignicons.min.css' %}" media="all" rel="stylesheet" type="text/css" />
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
   	<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

</head>
<body style="overflow:hidden;">

	<nav>
	    <div class="nav-wrapper vestBar">
      		<a href="#" class="brand-logo center"><img height="100%" src="{% static 'media/images/logo.svg' %}" alt=""></a>
			<ul style="margin-right : 40px" id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="{% url 'subscribe' %}">Subscribe</a></li>
			</ul>
		</div>
  	</nav>

  	<div class="moduleContainer">
  		<div class="row moduleRow">
		<div class="col s12 m6 module orange" style="background: #BBDEFB !important; border:solid; border-color: #f34258; border-width: 2px;">
			
			<div id="orangeContent">
				<div id="toggleChart" class="fixed-action-btn">
				    <a style="display: none;" id="toggleChartBtn" class="btn-floating blue waves-effect">
				      <i class="large material-icons">insert_chart</i>
				    </a>
				</div>
				<div id="assetBreakMod"></div>
				<p class="modTitle R">Assets</p>
			</div>
			
		</div>
		<div class="col s12 m6 module green" style="background: #BBDEFB !important; border:solid; border-color: #f34258; border-width: 2px;">
			<div id="greenContent">
				<div id="returnPerYearMod"></div>
				<p class="modTitle L">Returns</p>
			</div>
		</div>
	</div>

	<div class="row moduleRow">
		<div class="col s12 m6 module purple" style="background: #BBDEFB !important; border:solid; border-color: #f34258; border-width: 2px;">
			<div id="purpleContent">
            <p id="t1" class="modTitle R" style="z-index:999999;">Risks</p>
				<div id="riskMod"></div>
			</div>
		</div>
		<div class="col s12 m6 module blue" style="background: #BBDEFB !important; border:solid; border-color: #f34258; border-width: 2px;">
			<div id="blueContent">
            <p id="t2" class="modTitle L" style="z-index:999999;">Costs</p>
				<div id="feeMod"></div>
			</div>
		</div>
	</div>
  	</div>
   <div class="row moduleRow">
   <div id="bmenu-wrapper" class="col l12 module pink" style="height: 8vh; width:100%; background-color: #f34258 !important; display: none;">
   <ul class="bottommenu">
   <li class="bottommenu-left">Insights</li>
   <li class="bottommenu-center">Assets</li>
   <li class="bottommenu-right">Comparisons</li>
   </ul>
   </div>
   </div>
</body>

<script>
	Highcharts.setOptions({
		chart: {
        style: {
            fontFamily: 'Lato, sans-serif'
        }
		
    }
	});
</script>

<script src="{% static 'build/js/fees.js' %}"></script>
<script src="{% static 'build/js/bar.js' %}"></script>
<script src="{% static 'build/js/pie.js' %}"></script>
<script src="{% static 'build/js/risk.js' %}"></script>
<script src="{% static 'build/js/sectionPie.js' %}"></script>

<script src="{% static 'build/js/fullScreen.js' %}"></script>

</html>