{% load staticfiles %}
{% load js_reverse %}


<html>
<head>
	<title>Vestivise – Simple Investment Reporting</title>
    <link rel="shortcut icon" type="image/jpg" href="{% static 'media/favicon.jpg' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,300" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{% static 'build/css/dashboard.css' %}">

	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{% static 'bower_components/hover/css/hover-min.css' %}" media="all" rel="stylesheet" type="text/css" />
	<link href="{% static 'bower_components/mdi/css/materialdesignicons.min.css' %}" media="all" rel="stylesheet" type="text/css" />

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
   	<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
	<script src="{% url 'js_reverse' %}" type="text/javascript"></script>

</head>
<body>

	<nav>
	    <div class="nav-wrapper vestBar">
      		<a href="#" class="brand-logo center"><img height="100%" src="{% static 'media/images/logo.svg' %}" alt=""></a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		    <ul style="margin-right : 40px" class="right hide-on-med-and-down">
		      	<li><a href="{% url 'subscribe' %}">Subscribe</a></li>
		    </ul>
		    <ul class="side-nav" id="mobile-demo">
		      	<li><a href="{% url 'subscribe' %}">Subscribe</a></li>
	      	</ul>
		</div>
  	</nav>

  	<div id="app"></div>
</body>

<script>
	Highcharts.setOptions({
		chart: {
	        style: {
	            fontFamily: 'Lato, sans-serif'
	        }
    	}
	});
	$( document ).ready(function(){
    	$(".button-collapse").sideNav();
	});
</script>

<script src="{% static 'build/js/dashboard/dashboardApp.min.js' %}"></script>

</html>