{% load staticfiles %}

<html>
<head>
	<title>Vestivise – Simple Investment Reporting</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,300" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{% static 'build/css/dashboard.css' %}">
    <link rel="shortcut icon" type="image/jpg" href="{% static 'media/favicon.jpg' %}"/>

	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{% static 'bower_components/mdi/css/materialdesignicons.min.css' %}" media="all" rel="stylesheet" type="text/css" />
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
   	<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

</head>
<body>

	<nav>
	    <div class="nav-wrapper vestBar">
      		<a href="#" class="brand-logo center"><img height="100%" src="{% static 'media/images/logo.svg' %}" alt=""></a>
			<ul style="margin-right : 40px" id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="{% url 'subscribe' %}">Subscribe</a></li>
			</ul>
		</div>
  	</nav>

  	<div class="moduleContainer">
  		<div class="row moduleRow">
		<div id="asset" class="col s12 m6 module blue lighten-4">
			
			<div id="assetContent">

				<div id="toggleChart" class="fixed-action-btn">
				    <a style="display: none;" id="toggleChartBtn" class="btn-floating blue waves-effect">
				      <i class="large material-icons">insert_chart</i>
				    </a>
				</div>

				<div class="fixed-action-btn" style="position: absolute; display: inline-block; right: 24px; top: 0px">
				    <a id="toggleMod" class="btn-floating red waves-effect">
				      <i class="large material-icons">replay</i>
				    </a>
				</div>

				<div id="assetBreakMod"></div>
				<p class="modTitle L">Assets</p>
			</div>
			
		</div>
		<div id="returns" class="col s12 m6 module blue lighten-4">
			<div id="returnsContent">
				<div id="returnPerYearMod"></div>
				<p class="modTitle R">Returns</p>
			</div>
		</div>
	</div>

	<div class="row moduleRow">
		<div id="risks" class="col s12 m6 module blue lighten-4">
			<div id="risksContent">
				<div id="riskMod"></div>
				<p class="modTitle L">Risks</p>
			</div>
		</div>
		<div id="costs" class="col s12 m6 module blue lighten-4">
			<div id="costsContent">
				<div id="feeMod"></div>
				<p class="modTitle R">Costs</p>
			</div>
		</div>
	</div>
  	</div>

</body>

<script>
	Highcharts.setOptions({
		chart: {
        style: {
            fontFamily: 'Lato, sans-serif'
        }
    }
	});
</script>

<script src="{% static 'build/js/fees.js' %}"></script>
<script src="{% static 'build/js/bar.js' %}"></script>
<script src="{% static 'build/js/pie.js' %}"></script>
<script src="{% static 'build/js/risk.js' %}"></script>
<script src="{% static 'build/js/sectionPie.js' %}"></script>

<script>
	var hidden = false;
	$('#asset').click(function(){
		if(!hidden){
			$('#costsContent').hide();
			$('#risksContent').hide();
			$('#returnsContent').hide(); 

			$('.module.green').hide();
			$("body").css("background-color","#FF9800");

			$('.asset').animate({
				width: "100vw",
				height: "100vh",
			}, {
				duration: 1000,
				step: function(){
					$("#assetBreakMod").highcharts().reflow();
				},
				done: function(){
					$('.module.returns').hide();
					$('.module.risks').hide();
					hidden = true;
				}
			});
		}
		else{
			$('.module.purple').show();
			$('.module.blue').show();

			$('.module.asset').animate({
				width: "50%",
				height: "50%",
			}, {
				duration: 1000,
				step: function(){
					$("#assetBreakMod").highcharts().reflow();
				},
				done:function(){
					$('.module.returns').show();
					$('#costsContent').show();
					$('#risksContent').show();
					$('#returnsContent').show();
					hidden = false;
				}
			});
		}
	});	
</script>
</html>