{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type="image/jpg" href="{% static 'media/favicon.jpg' %}"/>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Vestivise – Simple Investment Reporting</title>
  <link href="{% static 'build/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'build/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'build/css/lightbox.css' %}" rel="stylesheet">
  <link href="{% static 'build/css/main.css' %}" rel="stylesheet">
  <link id="css-preset" href="{% static 'build/css/presets/preset1.css' %}" rel="stylesheet">
  <link href="{% static 'build/css/responsive.css' %}" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="{% static 'build/js/html5shiv.js"></script>
    <script src="{% static 'build/js/respond.min.js"></script>
  <![endif]-->
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,300" rel="stylesheet" type="text/css">
</head><!--/head-->

<body>

  <!--.preloader-->
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->

  <header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url({% static 'media/images/slider/1.jpg' %})">
          <div class="caption">
            <h1 class="animated fadeInLeftBig"><span>Vestivise</span></h1>
             <p class="animated fadeInRightBig">SIMPLE INVESTMENT REPORTING</p>
            <a id="tohash" class="btn btn-start animated fadeInUpBig" href="#slug">Learn More</a>
          </div>
        </div>
      </div>

      <a id="tohash1" href="#slug"><i class="fa fa-angle-down"></i></a>
    </div><!--/#home-slider-->
  </header><!--/#home-->
  
  <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#">
          <h1 style="font-family: 'Lato', sans-serif; color:#fff; size:1.5em; padding-left:0.2em;">Vestivise</h1>
          </a>                    
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
          	<li><a href="https://vestivise.com/subscribe">Share</a></li>         
            <li><a href="https://blog.vestivise.com">Blog</a></li>
            <li><a href="https://www.vestivise.com/demo/" target="_blank">Demo</a></li>
            <li><a href="https://app.vestivise.com/signUp">Sign Up Now</a></li>
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
    <section id="slug">
    <br>
       <h2  align="center" style="margin: 25% 10% 25% 10%; font-weight: 300; letter-spacing: 120%; line-height: 1.5em;">Most people don’t reach their investment goals.<br><br>We keep investment reporting simple so that in the good times and bad,<br>we will be there to guide you.</h2>
  </section><!--/#slug-->
   <section id="past" style="background:rgba(255,255,255,1.00)"> 
    <div class="container">
    	<div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
      <div class="row">
      <br><br>
      <br><br>
      <br><br>
      <div class="col-sm-6">
      <h2 style="color:black;">A Thing of the Past</h2>
            <p align="left" style="font-weight:bold; font-size:larger; line-height: 1.5em; letter-spacing: 120%;">Investment companies are confusing.
            </p>
            <p align="left" style="font-size:large;">You want essentials, not a page filled with numbers. You want to grasp the big picture, without having to know everything first.</p><p align="left" style="font-size:large;">Traditional reports will be a thing of the past: interactive graphics show you how your investments are doing and give you the tools to completely understand your portfolio's performance. With Vestivise, you can quickly make sense of your finances.
            </p>
    </div>
    <div class="col-sm-6">
      <br>
    <img src="{% static 'media/images/report.jpg' %}" alt="" style="min-width: 80%; max-width:100%;">
    </div>
    </div>
    </div>
    </div>
    <br>
  </section><!--/#past-->
  <section id="purpose" style="background:rgba(240,240,240,1.00)"> 
    <div class="container">
    	<div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
      <div class="row">
      <br><br>
      <br><br><br>
      <div class="col-sm-6">
      <br>
    <img src="{% static 'media/images/line.jpg' %}" alt="" style="min-width: 80%; max-width:100%;">
    </div>
      <div class="col-sm-6">
      <h2 style="color:black;">Purpose</h2>
            <p align="left" style="font-weight:bold; font-size:large;">Every time you view your interactive report, you will understand your investments.</p>
            <p align="left" style="font-size:large; letter-spacing: 120%;">Our mission is simple: we want to help the millions of investors understand their investments regardless of their financial knowledge. We hope that by bringing investors to a more concrete understanding of their investments, we can chip away at the <a href="https://blog.vestivise.com/we-fight-for-the-92/">92%</a> who do not reach their retirement goals.
            </p>
            <p align="left" style="font-size:large; letter-spacing: 120%;">Our report shows four categories of information: assets, returns, risks, and costs. In each category, you will find the relevant and essential details you need to be more informed and at peace with your money. Vestivise will create a whole new kind of financial engagement, so that when your time comes to retire, you will be fully prepared and informed.</p>
    </div>
    </div>
    </div>
    </div>
  </section><!--/#purpose-->
  
  <section id="features" style="background:rgba(240,240,240,1.00)">
    <div class="container" >
    <br><br><br>
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
      <div class="row">
          <div class="text-center col-sm-6">
            <h2>Features</h2>
            <p align="left" style="font-weight:bold; font-size:large;">Vestivise shows you your investments clearly and concisely.</p>
        <p align="left" style="font-size:large;">The Vestivise summary gives a complete overview of your assets. Our application is quick, intuitive, and extremely accurate. Our secure account linkage process automatically pulls your personal investment information upon creating an account. Take a look at our <a href="https://www.vestivise.com/demo/" target="_blank">demo</a> to find out more! You can also <a href="https://app.vestivise.com/">sign up now</a> for a personalized investment report.
        </p>
        <ul  class = "featuresList" style="font-size:medium;">
        <li class="singleFeature"><b>Simplicity</b> in the presentation of information.</li>
        <li class="singleFeature"><b>Education</b> to understand all the numbers.</li>
        <li class="singleFeature"><b>Aggregation</b> of all your investment accounts.</li>
        <li class="singleFeature"><b>Accessibility</b> with one place for live updates.</li>
        </ul>
      </div>
      <div class="col-sm-6">
      <br>
    <img src="{% static 'media/images/pie.jpg' %}" alt="" style="min-width: 80%; max-width:100%;">
    </div>
    </div>
    </div>
    </div>
  </section><!--/#features-->
  <br><br>
  <br><br>
  <section id="pro">
    <div class="container">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
          <div class="row">
          <h2>Vestivise Premium</h2>
          Coming Fall 2016<br><br>
          <p align="left" style="font-size:large;">
          The same simple investment reporting with deep insights
and user comparisons for the entire report. 
</p>
          <p align="left" style="font-size:large;">For a small yearly fee, Vestivise will show you everything
you need to know about your investments. New data
modules will dive into your assets, returns, risks, and costs.
From the aspects you’ve considered to the areas you’ve
never thought about, Vestivise Premium provides your
complete investment profile.
          </p>
        </div>
      </div>
    </div>
  </section><!--/#blog-->
  <br><br>
  <br><br>
  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="social-icons" >
          <ul>
            <li><a class="envelope" href="mailto:hello@vestivise.com" target="_blank"><i class="fa fa-envelope-square"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/vestivise" target="_blank"><i class="fa fa-twitter-square"></i></a></li> 
            <li><a class="instagram" href="https://www.instagram.com/vestivise/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a class="facebook" href="https://www.facebook.com/vestivise" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
            <li><a class="tumblr" href="https://hellovestivise.tumblr.com" target="_blank"><i class="fa fa-tumblr-square"></i></a></li>
            <li><a class="youtube" href="https://www.youtube.com/channel/UCZcXI3ofEk1DfA165sLKPmQ" target="_blank"><i class="fa fa-youtube-square"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/company/vestivise" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a class="pinterest" href="https://www.pinterest.com/vestivise/" target="_blank"><i class="fa fa-pinterest-square"></i></a></li>
          </ul>
        </div>
        <br>
        <p> <a class="flink" href="mailto:support@vestivise.com">Support</a> • <a  class="flink" href="javascript:showDiv('termsModal')">Terms of Use</a> • <a class="flink" href="javascript:showDiv('securityModal')">Security</a> • <a class="flink" href="mailto:josh@vestivise.com">Press</a> • <a class="flink" href="https://blog.vestivise.com/2016/07/10/introducing-vestivise/">About Vestivise</a>
</p>
        <p>&copy; 2016 Vestivise, Inc. All rights reserved.</p>
      </div>
    </div>
    <div id="securityModal" class="modal">
    <div id="securityModal-content" class="modal-content">
    	<a class="closeLink" href="javascript:close();" style="float: right;">x</a>
        <br><br>
        <h2>Security</h2>
       <p style="color:black; letter-spacing:110%;">Vestivise is a secure platform to understand your investments and does not internally store sensitive information such as your bank account login information, account numbers, or passwords. User financial information is securely retrieved when you log on using industry-standard encryption techniques.<br><br>
       Internally, Vestivise uses cryptographic signing to verify the authenticity and integrity of requests to our servers. Transport layer security is additionally implemented on all of our web pages to ensure your privacy is protected and to prevent third party interception or manipulation of data. Secure collection of data from other financial systems is achieved using encrypted communication during short, fixed-interval sessions activated live when you log in.</p>
       <br><br>
    </div>
    </div>
    <div id="termsModal" class="modal">
    <div id="termsModal-content" class="modal-content">
    	<a class="closeLink" href="javascript:close();" style="float: right;">x</a>
        <br><br>
        <h2>Vestivise Terms of Use</h2>
       <p style="color:black; letter-spacing:110%;">Welcome to Vestivise! These Terms of Use ("Terms") govern your use of our website, application, products and services (the “Site”). Please read these Terms carefully. By accessing
our Site or participating in our services (the “Services”) you agree to be bound by these Terms
and by our Privacy Policy.<br><br><br> 1. What is Vestivise?<br><br>
Vestivise is an investment analytics tool that’s used to generate interactive web reports
regarding your investment portfolio. Our software provides an intuitive visual representation to
help you better understand and evaluate the performance of your investments.<br><br><br>
2. Who Can Use Vestivise<br><br>
You may access this Site only if you can form a binding contract with Vestivise, Inc.
(“Vestivise”) and if you agree to these Terms. Any use of our Site, products or services by
children under the age of 13 is prohibited.<br><br><br>
3. Creating An Account<br><br>
Creating a Vestivise account will allow you to login to the Site and gain access to additional
features such as the ability to view and edit customized investment web reports. Registration
will require you to provide personal information including your name, contact information and
password along with your risk tolerance and investment goals.<br><br>
Each person may create only one account. You must provide us with accurate and complete
information at the time of registration. Failure to do so may constitute a breach of these Terms,
which could result in the termination of your account. You can update, modify, or delete the
information in your account at any time. It is your responsibility to maintain your account and
keep it secure. If you feel that your account security or password has been compromised please
contact us immediately.<br><br>
By creating an account and using the Site, you expressly authorize Vestivise to electronically
retrieve your financial information maintained by third-party financial institutions and service
providers. Subject to our privacy policy contained herein, we may work with one or more third
party financial services to access such information necessary to provide our Services.<br><br><br>
4. Acceptable Usage of Our Site<br><br>
Vestivise reserves the right, but is not obligated, to monitor your use of our Site, products and
services and may remove any user content that we believe violates these Terms or our Privacy
Policy. Specifically, when using the Site you agree:<br><br>
– Not to post any user content that contains any information that is illegal, fraudulent,
false, misleading, deceptive, disparaging, offensive, or otherwise objectionable;<br><br>
– Not to use our Site in a way that creates a risk of harm, injury, emotional distress, death,
disability, or physical or mental illness to any person or entity;<br><br>
– Not to use our Site in a way that infringes on the trademarks or intellectual property
rights of Vestivise, or any other person or entity;<br><br>
– Not to access, tamper with, hack, or use non-public areas of our Site or computer
systems, including taking any measures to avoid, bypass, remove, deactivate, impair, or
otherwise circumvent any technological measure implemented by Vestivise to protect
our Site;<br><br>
– Not to access, scrape, upload, or download user content through the use of any engine,
software, tool, agent, device, mechanism, automated scripts, spiders, robots, crawlers,
data mining tools, or any other software;<br><br>
– Not to send any unsolicited or unauthorized spam, spam comments on posts, advertising
messages, promotional materials, email, junk mail, or other form of solicitation;<br><br>
– Not to use our Site for any commercial purpose or the benefit of any third party, except
as otherwise explicitly permitted by these Terms;<br><br>
– Not to decompile, disassemble or reverse engineer any of our software or Site;<br><br>
- Not to interfere with, or attempt to interfere with, the access of any user, host or
network, including, but not limited to, sending a virus, overloading, flooding, or
spamming;<br><br>
– Not to collect or store any personally identifiable information from our Site or from
other users without express permission;<br><br>
– Not to violate our Terms or any other applicable law or regulation, and not to encourage
or enable any other individual to violate our Terms or to do any of the activities
prohibited in these Terms.<br><br><br>
5. User Content<br><br>
You acknowledge that: (i) you own and are solely responsible for the content that you submit,
post, or transmit (ii) that the content is accurate and consistent with the purpose of the Site (iii)
that use of the content you supply does not violate these Terms, (iv) that the content will not
cause injury to any person or entity, and (v) that you will indemnify Vestivise and its affiliates
for all claims resulting from content you supply.<br><br>
You further grant Vestivise a non-exclusive, royalty-free, transferable, sublicensable, worldwide
license to use, store, and display your user content or the purposes of providing our services.<br><br><br>
6. Our License to You<br><br>
Vestivise grants you a limited, non-exclusive, non-transferable, revocable license to use our Site
in accordance with these Terms and our Privacy Policy. We may permanently or temporarily
terminate or suspend a user without notice for any reason, including if, in our sole
determination, these Terms have been violated.<br><br><br>
7. Privacy Policy<br><br>
For information about our policies and practices regarding the collection and use of your
personal information please read our Privacy Policy. Our Privacy Policy is part of these Terms,
therefore, by using our Site or services you also agree to our Privacy Policy.<br><br><br>
8. Intellectual Property<br><br>
The Vestivise name and logo are trademarks of Vestivise, Inc. You may use these trademarks to
identify our products and Services so long as your use of our trademarks complies with these
Terms and you agree not to use our trademarks in any manner that infringes upon the
intellectual property rights of Vestivise.<br><br>
The materials on this Site, as well as the organization and layout of this Site, are copyrighted
and are protected by United States and international copyright laws and treaty provisions. You
may access, download and print materials on this Site solely for your personal and noncommercial
use.<br><br>
No right, title or interest in any of the materials contained on this Site is transferred to you as a
result of accessing, downloading or printing such materials. You may not copy, modify,
distribute, transmit, display, reproduce, publish, license any part of this Site, create derivative
works from, use on any other website, transfer or sell any information obtained from this Site
without the prior written permission of Vestivise.<br><br><br>
9. Third-Party Links, Websites and Services<br><br>
Our Site may contain links to third-party websites to facilitate our Services. We do not assume
responsibility for any third-party websites not owned or controlled by Vestivise and their own
respective terms of use may apply. If you access any third-party website, service, or other
content from this Site, you do so at your own risk and you agree that Vestivise will have no
liability arising from your use of the third-party site, service, or content.<br><br><br>
10. Disclaimers<br><br>
Vestivise specifically disclaims any and all warranties and conditions of merchantability, fitness
for a particular purpose, and non-infringement, and any warranties arising out of course of 
dealing or usage of trade. Our Site is provided on an "as is" basis without warranty of any kind,
whether express or implied. Vestivise takes no responsibility and assumes no liability for any
user content that you or any other user or third transmits using our Site.<br><br>
Vestivise is not a financial planner, broker, legal advisor, or tax advisor. Our Services are
intended only to assist you in your financial organization via our analytics software and tools.
Your personal financial situation is unique, and any information obtained through our Site the
Services should be reviewed by your accountant or other financial advisers who are fully aware
of your individual circumstances.<br><br><br>
11. Limitation of Liability<br><br>
TO THE MAXIMUM EXTENT PERMITTED BY LAW, VESTIVISE SHALL NOT BE
LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR
PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER
INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL,
OR OTHER INTANGIBLE LOSSES, RESULTING FROM (A) YOUR ACCESS TO OR USE
OF OR INABILITY TO ACCESS OR USE THE PRODUCTS; (B) ANY CONDUCT OR
CONTENT OF ANY THIRD PARTY ON THE PRODUCTS, INCLUDING WITHOUT
LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER
USERS OR THIRD PARTIES; OR (C) UNAUTHORIZED ACCESS, USE OR
ALTERATION OF YOUR TRANSMISSIONS OR CONTENT. IN NO EVENT SHALL OUR
AGGREGATE LIABILITY EXCEED ONE HUNDRED U.S. DOLLARS (U.S. $100.00).<br><br><br>
12. Indemnity<br><br>
You agree to indemnify and hold harmless Vestivise and its officers, directors, employees and
agents, from and against any claims, lawsuits, proceedings, disputes, demands, liabilities,
damages, losses, costs and expenses, including, without limitation, reasonable legal and
accounting fees including costs of defense of claims, suits or proceedings brought by third
parties, in any way related to (i) your access to or use of our Site, (ii) your user content, or (iii)
your breach of any of these Terms.<br><br><br>
13. Governing Law and Jurisdiction<br><br>
These Terms shall be governed by the laws of the State of Delaware, without respect to its
conflict of laws principles. You agree to submit to the personal jurisdiction of a state court
located in New York or a United States District Court located in New York, for any actions not
subject to arbitration.<br><br><br>
14. Arbitration<br><br>
For any dispute you may have with Vestivise, you agree to first contact us and attempt to
resolve the dispute with us informally. If Vestivise is not able to resolve the dispute with you
informally, we each agree to resolve any claim, dispute, or controversy (excluding claims for
injunctive or other equitable relief) arising out of or in connection with or relating to these 
Terms by binding arbitration by the American Arbitration Association ("AAA") under the
Commercial Arbitration Rules and Supplementary Procedures for Consumer Related Disputes
then in effect for the AAA, except as provided herein. Unless you and Vestivise agree
otherwise, the arbitration will be conducted in New York County in the state of New York.
Each party will be responsible for paying any AAA filing, administrative and arbitrator fees in
accordance with AAA rules.<br><br>
The award rendered by the arbitrator shall include costs of arbitration, reasonable attorneys' fees
and reasonable costs for expert and other witnesses, and any judgment on the award rendered by
the arbitrator may be entered in any court of competent jurisdiction. Nothing in this Section
shall prevent either party from seeking injunctive or other equitable relief from the courts for
matters related to data security, intellectual property or unauthorized access to our Site.
All claims must be brought in the parties' individual capacity, and not as a plaintiff or class
member in any purported class, class action, or representative proceeding. Unless we agree
otherwise, the arbitrator may not consolidate more than one person's claims. You agree that, by
entering into these Terms, you are waiving the right to a jury trial and the right to participate in
a class action.<br><br>
15. Statute of Limitations<br><br>
You agree that regardless of any statute or law to the contrary, any claim arising out of your use
of our Site or these Terms must be filed within one (1) year after such claim arose.<br><br><br>
16. Separate Agreements<br><br>
You may have other agreements with Vestivise in addition to these Terms. These Terms do not
modify, revise or amend the terms of any other agreements you may have with Vestivise.<br><br><br>
17. Notification of Changes<br><br>
Vestivise reserves the right to change these Terms from time to time at its sole discretion. If
changes are made to these Terms, your continued use of the Site indicates your consent to the
Terms as posted.<br><br><br>
18. Contact Information<br><br>
If you have any questions regarding these Terms please contact us at: <a href="mailto:hello@vestivise.com">hello@vestivise.com</a></p><br><br><h2>Vestivise Privacy Policy</h2><br><br><p style="color:black; letter-spacing:110%;">
Vestivise is committed to protecting the privacy of our users while they use the Vestivise
website, products and services (the “Site”). We want you to understand what information we
collect about you, how we collect it and how that information is used. You agree that your use
of the Site signifies your acceptance of this Privacy Policy. If you do not consent to the terms of
this Privacy Policy, please do not use this Site.<br><br><br>
1. Information Collected<br><br>
We collect two types of information from you: (1) information that you voluntarily provide to
us through our registration process, and (2) cookies; information that is derived through
automated tracking mechanisms.<br><br><br>
2. Voluntary Information<br><br>
In order to fully access this Site and use our Services you must first complete the registration
process, during which we will collect personal information about you including your name,
contact information, and financial information.<br><br><br>
3. Cookies<br><br>
Our Site uses cookies and other tracking technologies to enable us to serve secure pages to our
users without asking you to sign-in repeatedly. Most web browsers allow you to control cookies,
including whether or not to accept them and how to remove them. You may set most browsers
to notify you if you receive a cookie, or you may choose to block cookies with your browser.
Please note that if you choose to erase or block your cookies, you will need to re-enter your
name and password to gain access to certain parts of the Site.<br><br><br>
4. How We Use Your Information<br><br>
Your personal information will not be sold, shared, rented or otherwise transferred to
unaffiliated third parties for any purposes other than to deliver Services on behalf of the Site,
unless required by law. Your personally identifiable information is used by the Site, and our
affiliates, to authenticate your identity and to provide you with customized investment
information and reports in accordance the Services.<br><br>
We may permit certain trusted third parties to track non-identifying data, including but not
limited to, the source address that a page request is coming from, your IP address or domain
name, the date and time of the page request, the referring website, and other parameters in the
URL. This information is collected in order to better understand usage of the Site and enhance
its performance. To the extent that the information collected is non-identifying or aggregate
information, we may use such information for any purpose.<br><br>
The Site may disclose your contact information in certain cases where we have reason to believe
that disclosing this information is necessary to identify, contact, or bring legal action against
someone who may be violating our Terms or this Privacy Policy or may be causing injury or
interference with our rights, property, our users or anyone who could be harmed by such
activities.<br><br><br>
5. How We Protect Your Information<br><br>
We are committed to protecting the information that we receive from you. We take appropriate
security measures to protect your information against unauthorized access to or unauthorized
alteration, disclosure or destruction of data. To prevent unauthorized access, maintain data
accuracy, and ensure the correct use of information, we maintain appropriate physical,
electronic, and managerial procedures to safeguard and secure the information and data stored
on our system. While no computer system is completely secure, the measures we have
implemented are above industry standards.<br><br><br>
6. Email Choice/Opt-out<br><br>
As part of our services you may occasionally receive email communications from us such as
notifications relating to your account. If you no longer wish to receive updates or notifications
please contact us at hello@Vestivise.com.<br><br><br>
7. Third-Party Websites and Services<br><br>
Our Site may contain links to third-party websites or services. These websites and any other
websites or financial information services used to provide our Services may have their own
applicable privacy policy.<br><br><br>
8. Children's Privacy and Parental Controls<br><br>
Vestivise is intended for adults only, and we do not solicit any personal information from
children. If you are not 13 years old or older, you are not authorized to use the Site.<br><br><br>
9. Security Disclaimer<br><br>
By consenting to this Privacy Policy, you acknowledge that no data transmission over the
internet is completely secure. We cannot guarantee or warrant the security of any information
you provide to us and you transmit such information to us at your own risk.<br><br><br>
10. Notification of Changes<br><br>
Vestivise reserves the right to change this Privacy Policy from time to time at its sole discretion.
If changes are made to this Privacy Policy, your continued use of the Site indicates your consent
to the Privacy Policy as posted.<br><br><br>
11. Contact Information<br><br>
If you have any questions regarding this Privacy Policy please email: <a href="mailto:hello@vestivise.com">hello@vestivise.com</a></p>
       <br><br>
    </div>
    </div>
  </footer>
  <script type="text/javascript" src="{% static 'build/js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'build/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'build/js/lightbox.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'build/js/main.js' %}"></script>
  <script type="text/javascript">


function showDiv(d) {
    var e = document.getElementById(d);
    e.style.display = 'block';
	document.body.style.overflow = 'hidden';
	e.style.overflow = 'scroll';
}

function close(){
	var e = document.getElementById("securityModal");
	e.style.display = 'none';
	e = document.getElementById("termsModal");
	e.style.display = 'none';
	document.body.style.overflow = 'auto';
}

  </script>
</body>
</html>